body{
    font-family: 'Laila', sans-serif;
}

h1{
    font-family: 'Neucha', cursive;
}

#resultsSubmitButton {
    width: 50px;
    background-color: red;
    border-radius: 50px;
    height: 50px;
}

